/* Navbar Styling Starts Here*/

#top-section{
    background: linear-gradient(to right top, rgb(0, 0, 0), rgba(64, 0, 184, 0.753));
    padding-bottom: 100px;
}

.logo-finto{
    width: 20px;
    border: none;
    border-radius: 50%;
    margin-left: -15px;
}

.nav-link{
    color: #fff !important;
    margin-right: 20px;
}

.login-button{
    background-color: #fff !important;
    color: red !important;
    border: 1px solid #fff !important;
}


/* We provide solutions styling starts here*/


#top-section {
    position: relative;
  }
    #top-section::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: url(../images/red-back.jpg) no-repeat;
    background-size: cover;
    opacity: 0.3;

    filter: grayscale(100%);
  }
    #top-section-inside {
    /* This will make it stack on top of the ::before */
    position: relative;
  }

.provide-solutions{
    margin-top: 120px;
    width: 80%;
}

.get-started-button{
    background-color: rgb(214, 44, 25) !important;
    border-radius: 4px;
}

.play-circle{
    padding: 15px;
    margin-left: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    /* margin-bottom: 50px; */
}


/* Big section styliing starts here*/
#big-section {
    position: relative;
  }
    #big-section::before {
    content: "";
    position: absolute;
    top: 40; left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/background.jpg) no-repeat;
    background-size: contain;
    opacity: 0.1;
    background-blend-mode: luminosity;

    filter: grayscale(100%);
  }
  #big-section-inside {
    /* This will make it stack on top of the ::before */
    position: relative;
  }

  /*company logo styling starts here*/

#company-logo{
    padding: 70px;
}
.company-logos-cover{
    height: 30px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-column-gap: 80px;
    /* margin-top: 50px; */
}

.company-logos{
    width: 100%;
    height: 100%;
    margin-bottom: -13px;
    filter: grayscale(1);
    opacity: 0.5;
}
.company-logos2{
    width: 100%;
    height: 60%;
    opacity: 0.5;
    filter: grayscale(1);
}


/* Why finto styling starts here*/
#why-finto{
    /* background-color: #f2f2f2; */
    padding-bottom: 100px;
}
.why-finto{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.why-finto-cards{
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 10px rgb(133, 133, 133);
}
.why-finto-cards:hover{
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 20px rgb(87, 87, 87);
    transition: 1s;
}

.finto-grey-text{
    font-size: 13px;
    color: grey;
}


/*Win win styling starts here*/

#win-win {
    position: relative;
    padding: 80px 0;
  }
    #win-win::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: url(../images/background.jpg) no-repeat;
    background-size: cover;
    opacity: 0.1;

    filter: grayscale(100%);
  }
  #win-win-inside {
    /* This will make it stack on top of the ::before */
    position: relative;
  }


.overall-cover{
    display: flex;
    width: 90%;
    justify-content: flex-end;
}
.cover{
    width: 90%;
}

.percent{
    display: grid;
    grid-template-columns: 10% 40%;
    grid-column-gap: 15%;
}

.forty-five{
    margin-top: -10px;
    font-weight: 600;
}

.conversions{
    margin-top: -5px;
    font-weight: 600;
    font-size: 13px;
    color: rgb(40, 0, 119)
}


/*Twice profit styling starts here*/

#twice-profit{
    margin-top: 80px;
}

.learn-more-button{
    border: 1px solid rgb(214, 44, 25) !important; 
    color: rgb(214, 44, 25) !important; 
    width:120px;
    border-radius: 4px;
    background-color: #fff !important;
}

.side-laptop{
    width:100%;
    height:100%;
    margin-top: -50px;
}