<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

</head>
<body>
    
    <section id="top-section">
        <div id="nav" class="pt-2 pb-2">
            <div class="container">
                <finto-logo></finto-logo>
            </div>
        </div>
        <div id="after-nav">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <provide-solutions></provide-solutions>
                    </div>
                    <div class="col-md-6 pattern">
                        <after-nav-img></after-nav-img>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="big-section">

    <!--Company Logo Section Starts Here-->

        <section id="company-logo">
            <company-logo></company-logo>
        </section>

        <!--Why finto section starts here-->

        <section id="why-finto">
            <div class="why-finto">
                <h4>4 Reasons, Why Finto?</h4>
            </div>
            <div class="container">
                <div class="row">
                    <why-finto ph="Target right users"></why-finto>
                    <why-finto ph="No Spamming"></why-finto>
                    <why-finto ph="Full Backup"></why-finto>
                    <why-finto ph="5 times won awards"></why-finto>
                </div>
            </div>
        </section>


    </section>

    <!--Win win section starts here-->

    <section id="win-win">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="../images/transparent-laptop.jpg" alt="" style="width:100%;">
                </div>
                <div class="col-md-6 overall-cover d-flex">
                    <div class="cover">
                        <win-win header="Bring to the table win-win survival strategies"></win-win>
                        <div class="percent">
                            <div class="first">
                                <my-percent percent="45%" conversions="conversions"></my-percent>
                            </div>
                            <div class="second">
                                <my-percent percent="132%" conversions="Traffic growth"></my-percent>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Twice profit section starts here-->

    <section id="twice-profit">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mt-3">
                    <win-win header="Twice profit than before you ever got in bussiness"></win-win>
                    <button type="button" class="btn btn-warning learn-more-button mt-4" style="">Learn More</button>
                    
                </div>
                <div class="col-md-6">
                    <img src="../images/laptop-new.png" alt="" class="side-laptop" style="">
                </div>
            </div>
        </div>
    </section>

    <!--Services section starts here-->

    <section id="services">
        <div class="container">
            <div class="why-finto">
                <h4>Services we provide</h4>
            </div>
            <div class="row services-finto">
                <why-finto ph="Link Building"></why-finto>
                <why-finto ph="Monthly SEO Task"></why-finto>
                <why-finto ph="Quick Support"></why-finto>
            </div>
            <div class="row services-finto">
                <why-finto ph="Top Ranking"></why-finto>
                <why-finto ph="Off Page SEO"></why-finto>
                <why-finto ph="On Page SEO"></why-finto>
            </div>
            <div class="interested">
                <div class="row">
                    <div class="col-md-6">
                        <h6>Interested To Get Our Featured Service?</h6>
                        <p class="finto-grey-text">Enjoy 25% yearly discount for two years</p>
                    </div>
                    <div class="col-md-6">
                        <form action="" class="email-form">
                            <input type="text" name="email" placeholder="Enter Your Email..." class="email-input">
                            <button type="button" class="btn btn-warning text-light get-started-button" style="border: none; border-radius: 0px; width:120px;">Get started</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!--Client Section starts here-->

    <section id="clients">
        <div class="container">
            <div class="why-finto">
                <h4>What Our Clients Are Saying About Us</h4>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="cover-image">
                        <img src="../images/images.jpg" alt="" class="man-image">  
                    </div>                      
                </div>
                <div class="col-md-7">
                    <div class="container cover-text">
                        <p class="finto-grey-text" style="width:70%;">
                            A review is a survey over a whole subject or division of it, or especially an article making a critical reconsideration
                            and summary or something withing a review of the latest book on Chaucer. A criticism is a judgment.
                        </p>
                    </div>
                    <div class="founder">
                        <h6>Major Leen.</h6>
                        <div class="finto-grey-text">
                            Founder, CEO
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    kj;hj
                </div>
            </div>
        </div>
    </section>







    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="navbar component/navbar.js"></script>
    <script src="after-navbar/provide-solutions.js"></script>
    <script src="after-navbar/after-nav-img.js"></script>
    <script src="company-logo/company-logo.js"></script>
    <script src="why-finto-cards/why-finto.js"></script>
    <script src="win-win/win-win.js"></script>
    <script src="twice-profit/twice-profit.js"></script>
    <script src="services/services.js"></script>
    <script src="clients/clients.js"></script>

</body>
</html>